<h1>Diary Entries</h1>
<%= link_to "New Entry", new_entry_path %>
<hr>
<% @entries.each do |entry| %>
  <h2><%= link_to entry.title, entry %></h2>
  <p><%= entry.date %></p>
  <p><%= entry.contents %></p>
  <hr>
<% end %>

<%= link_to "New Entry", new_entry_path %>
